.covidTrackerContainer {
  padding: 0 100px;
}

.covidTrackerHeading {
  padding-top: 20px;
  font-size: 50px
}

.trackerCardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.flagSelectContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countryDropDown{
  padding: 10px;
}

.covidMap {
  min-width: 800px;
  min-height: 800px;
}

.worldMap {
  display: flex;
  justify-content: center;
}

.covidTrackerBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 100px;
}

@media (max-width: 800px) {
  .covidTrackerContainer {
    padding: 0 20px;
    display: grid;
    grid-template-columns: none;
    grid-column-gap: 20px;
  }
  .covidTrackerBody {
    display: grid;
    grid-template-columns: 1fr !important;
    margin-top: 50px;
  }

  .trackerCardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }

  .covidMap {
    width: 350px;
    min-width: 0;
    min-height: 0;
    height: 400px;
  }
}